.misionVisionContainer {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mision img,
.vision img {
  width: 80px;
}

.mision,
.vision {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.mision h3,
.vision h3 {
  font-size: 20px;
}

.mision p,
.vision p {
  margin: 0 3rem;
  text-align: center;
  color: var(--color-3);
  font-weight: 300;
  font-size: 14px;
}

.mision span,
.vision span {
  color: var(--color-principal);
}

@media only screen and (min-width: 624px) {
  .misionVisionContainer {
    margin: 1rem 2rem;
    flex-direction: row;
  }
  .mision p,
  .vision p {
    margin: 0rem;
  }

  .mision,
  .vision {
    width: 50%;
    margin: 4rem 1rem;
  }
}

@media only screen and (min-width: 769px) {
  .misionVisionContainer {
    margin: 1rem 3rem;
  }
  .mision p,
  .vision p {
    margin: 0 5rem;
  }
}
