.container {
  margin: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem 0;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: 300;
}

.container p > span {
  font-weight: 700;
  color: var(--color-principal);
}

.iconService {
  font-size: 2.5em;
  color: var(--color-secundario);
}

.serviceTitle {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-3);
}

@media only screen and (min-width: 624px) {
  .container {
    margin: 2.5rem 3rem;
  }

  .title {
    font-size: 20px;
  }

  .services {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1162px) {
    .iconService {
        font-size: 3.5em;
      }
}
