.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  position: relative;
  padding: 1rem;
  min-width: 320px;
  max-width: 480px;
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
}

.modalClose {
  background-color: none;
  color: var(--color-secundario);
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
  font-size: 1.2rem;
  border: none;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.modal.isOpen {
  display: flex;
}
