.history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem auto;
  padding-top: 3rem;
}

.timeline {
  height: 2px;
  width: 80vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* -------------HISTORY YEAR------------- */

.historyYear {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.descriptionYears {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 2rem;
  align-items: center;
}

.text > p {
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  color: var(--color-3);
}

.text > h2 {
  font-size: 20px;
  padding: 1rem 0;
}

.text > h2 > span {
  color: var(--color-principal);
}

.descriptionYears > img {
  width: 100%;
  border-radius: 15px;
}

.historyYear .images {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.images > img {
  width: 40%;
  border-radius: 15px;
}

/* -------------HISTORY 1999------------- */

@media only screen and (min-width: 624px) {
  .history {
    display: flex;
    margin: 2rem;
  }

  .timeline {
    height: 70vh;
    width: 2px;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1.8rem;
    margin-right: 5rem;
  }

  .descriptionYears > img {
    width: 450px;
    height: 350px;
  }

  /* -------------HISTORY 1985------------- */

  .historyYear {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .historyYear {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 4rem;
  }

  .history {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
  }

  .images > img {
    width: 30%;
    border-radius: 15px;
  }

  
  .descriptionYears {
    display: flex;
    flex-direction: row;
  }

  .descriptionYears > img {
    width: 50%;
    border-radius: 15px;
  }

}
