.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 350px;
  height: 471px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fff;
}

.cardLeft {
  width: 100%;
}

.cardImg {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.cardRight {
  position: relative;
  padding: 10px;
  width: 95%;
  height: 100%;
}

.description {
  font-size: 14px;
  font-weight: 300;
  padding-block-start: 10px;
  padding-block-end: 5px;
  display: block;
  width: 95%;
  height: 80px;
  position: absolute;
  bottom: 30%;
  right: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: var(--color-4);
  cursor: default;
  line-height: 20.5px;
}

.cardButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  background-color: var(--color-principal);
  color: white;
  position: absolute;
  bottom: 5%;
  width: 330px;
  height: 40px;
  cursor: pointer;
}

.description::-webkit-scrollbar {
  overflow: hidden;
}

.cardHeader {
  padding-top: 1rem;
}

.cardHeader h3 {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 0.3rem;
  color: var(--color-3);
  opacity: 0.7;
}

.cardHeader h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-4);
}

@media screen and (min-width: 768px) {
  .cardContainer {
    flex-direction: row;
    align-items: center;
    width: 710px;
    height: 279px;
    gap: 0;
  }

  .cardRight {
    padding: 0 1rem;
    gap: 0.3rem;
    width: 52%;
  }

  .cardLeft {
    width: 45%;
  }

  .description {
    height: 100px;
  }
  .cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1300px) {
  .cardContainer {
    width: 635px;
    height: 283px;
    gap: 0.1rem;
  }
}
